<div class="row">
    <div class="col-md-4"><h3>Lists</h3></div>
    <div class="col-md-8">
       {{outlet}}

        <div class="pull-left">
            <h3>Achievements</h3>
        </div>
        <div class="pull-right">
            <br>
            {{#linkTo "achievements.new" class="btn btn-primary"}}Add{{/linkTo}}
        </div>
        <div class="clearfix"></div>
        <hr>
        <ul>
            {{#each controller}}
                <li><em><strong>{{ date achieved_at }}</strong></em> - {{title}}</li>
            {{else}}
                <li><h4>There are no achievements</h4></li>
            {{/each}}      
        </ul>
    </div>
</div>